@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;400&display=swap");

.blur-in{animation:blur-in 0.4s linear both} @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

.tracking-in-expand-forward-top{animation:tracking-in-expand-forward-top 0.5s linear both} @keyframes tracking-in-expand-forward-top{0%{letter-spacing:-.2em;transform:translateZ(-700px) translateY(-100px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}}

.rotate-center{animation:rotate-center 0.9s} @keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}

::placeholder{
    font-size: 1.4rem;
}

/*Criar Disciplina*/

#nav-shadow{
    position: absolute;
    background-color: rgba(0, 0, 0,0.50);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#sec-entrar-tutoria{
    position: absolute;
    background-color: rgba(250, 239, 239, 0.95);
    border: 2px rgba(0, 0, 0,0.40) solid;
    width: 40%;
    height: 50%;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}
#sec-entrar-image{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#sec-image{  
    cursor: pointer;
    width: 5.5%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#sec-entrar-input1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    margin-top: 5%;
}
#sec-entrar-input2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}
#sec-entrar-input3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
    font-size: 1.1rem;
    color: red;
}
#sec-entrar-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}
#sec-input1{
    border-radius: 5px;
    border: 1px black solid;
    width: 50%;
    height: 60%;
    font-size: 1rem;
}
#sec-input1:focus{
    border-radius: 5px;
    border: 1px black solid;
    width: 52%;
    height: 60%;
    font-size: 1rem;
    box-shadow: 0px 0px 4px 3px black;
}
#sec-input2{
    border-radius: 5px;
    border: 1px black solid;
    width: 50%;
    height: 60%; 
    font-size: 1rem;
}
#sec-input2:focus{
    border-radius: 5px;
    border: 1px black solid;
    width: 52%;
    height: 60%;
    font-size: 1rem;
    box-shadow: 0px 0px 4px 3px black;
}
#sec-button{
    cursor: pointer;
    font-size: 1.3rem;
    width: 20%;
    height: 65%;
    background-color: black;
    color: rgba(225, 179, 81, 0.8);
    border-radius: 5px;
}
#sec-button:hover{
    font-size: 1.3rem;
    width: 21%;
    height: 67%;
    background-color: rgba(225, 179, 81, 0.8);
    color: black;
    border: 2px black solid;
    border-radius: 5px;
    transition: 0.5s;
}



@media (min-width:1200px){

    /*Navbar*/

    #container{
        width: 100%;
        height: auto;
    }
    body{
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    #navbar{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 109px;
        background-color: rgba(17,102,102,0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0,0.40);
    }
    #navbar-name{
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        text-shadow: 2px 2px 3px black;
    }
    #navbar-name2{
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }
    #navbar-image{
        cursor: pointer;
        margin-top: 3px;
    }
    #navbar-logo{
        width: 90%;
        display: flex;
        flex-direction: row;
    }
    #navbar-inicio{
        width: 25%;
        display: flex;
        flex-direction: row;
    }
    #navbar-image2{
        margin-top: 4%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image2:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }
    #navbar-image3{
        margin-left: 20%;
        margin-top: 3.3%;
        height: 2.7rem;
        transition: 0.5s;
    }
    #img-menu{
        width: 7%;
        margin-right: 2%;
    }

    /*section*/

#section-image{
    cursor: pointer;
    width: 18%;
}
#section-image:hover{
    width: 21%;
    transition: 0.6s;
}
#div-section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}
#div-section-nav{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    height: 80%;
    width: 70%;
    background-color: rgba(215, 252, 212, 1);
    border-radius: 13px;
    box-shadow: 0px 0px 6px 2px rgb(23, 22, 22);
}
#div-section-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    font-size: 2.2rem;
    margin-top: 4%;
    font-family: 'Indie Flower', cursive;
}
#div-section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13%;
    width: 60%;
    margin-top: 7%;
}
#div-section-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 30%;
}
#section-text{
    width: 98%;
    height: 80%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0.60);
    font-size: 2rem;
}
#section-text:focus{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0.60);
    box-shadow: 0px 0px 4px 2px rgb(23, 22, 22);
    font-size: 2rem;
}
#section-button{
    cursor: pointer;
    width: 40%;
    height: 80%;
    background-color: black;
    color: rgba(215, 252, 212, 1);
    font-family: sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
}
#section-button:hover{
    width: 40%;
    height: 97%;
    background-color: rgba(203, 150, 36,0.50);
    color:black;
    font-family: sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px black solid;
    transition: 0.8s;
}

    /*Footer*/

    #div-area{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17,102,102,0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }
    #div-area-footer1{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #div-area-footer2{
        width: 50%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }
    #image-main-footer{
        height: 4.5rem;
        padding-bottom: 1rem;
    }
    #div-area-image2 img{
        padding: 0.5rem;
    }
}

@media (min-width:769px) and (max-width:1200px){

    /*Navbar*/

    body{
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    #navbar{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 109px;
        background-color: rgba(17,102,102,0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0,0.40);
    }
    #navbar-name{
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        text-shadow: 2px 2px 3px black;
    }
    #navbar-name2{
        cursor: pointer;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }
    #navbar-name2:hover{
        cursor: pointer;
        text-decoration: underline;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
        transition: 1.3s;
    }
    #navbar-image{
        cursor: pointer;
        margin-top: 3px;
    }
    #navbar-logo{
        width: 65%;
        display: flex;
        flex-direction: row;
    }
    #navbar-inicio{
        width: 35%;
        display: flex;
        flex-direction: row;
    }
    #navbar-image2{
        margin-top: 3%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image2:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }
    #navbar-image3{
        margin-left: 15%;
        margin-top: 3%;
        height: 2.7rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image3:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    /*section*/

#section-image{
    cursor: pointer;
    width: 20%;
}
#section-image:hover{
    width: 22%;
    transition: 0.8s;
}
#div-section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}
#div-section-nav{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: rgba(215, 252, 212, 1);
    border-radius: 13px;
    box-shadow: 0px 0px 6px 2px rgb(23, 22, 22);
}
#div-section-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    font-size: 2.2rem;
    margin-top: 4%;
    font-family: 'Indie Flower', cursive;
}
#div-section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13%;
    width: 60%;
    margin-top: 7%;
}
#div-section-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 30%;
}
#section-text{
    width: 98%;
    height: 80%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0.60);
    font-size: 2rem;
}
#section-text:focus{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0.60);
    box-shadow: 0px 0px 4px 2px rgb(23, 22, 22);
    font-size: 2rem;
}
#section-button{
    cursor: pointer;
    width: 40%;
    height: 70%;
    background-color: black;
    color: rgba(215, 252, 212, 1);
    font-family: sans-serif;
    font-size: 1.3rem;
    border-radius: 10px;
}
#section-button:hover{
    width: 40%;
    height: 77%;
    background-color: rgba(203, 150, 36,0.50);
    color:black;
    font-family: sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px black solid;
    transition: 0.8s;
}
#img-menu{
    width: 10%;
}

/*Adicionar Tutoria*/

#sec-entrar-tutoria{
    position: absolute;
    background-color: rgba(250, 239, 239, 0.95);
    border: 2px rgba(0, 0, 0,0.40) solid;
    width: 60%;
    height: 47%;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}
#sec-image{  
    cursor: pointer;
    width: 5.5%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#sec-button{
    cursor: pointer;
    font-size: 1.3rem;
    width: 20%;
    height: 70%;
    background-color: black;
    color: rgba(225, 179, 81, 0.8);
    border-radius: 5px;
}
#sec-button:hover{
    font-size: 1.3rem;
    width: 21%;
    height: 72%;
    background-color: rgba(225, 179, 81, 0.8);
    color: black;
    border: 2px black solid;
    border-radius: 5px;
    transition: 0.5s;
}

    /*Footer*/

    #div-area{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17,102,102,0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }
    #div-area-footer1{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #div-area-footer2{
        width: 50%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }
    #image-main-footer{
        height: 4.5rem;
        padding-bottom: 1rem;
    }
    #div-area-image2 img{
        padding: 0.5rem;
    }
}

@media (min-width:481px) and (max-width:769px){

    /*Navbar*/

    body{
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    #navbar{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 109px;
        background-color: rgba(17,102,102,0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0,0.40);
    }
    #navbar-name{
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        text-shadow: 2px 2px 3px black;
    }
    #navbar-name2{
        cursor: pointer;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }
    #navbar-name2:hover{
        cursor: pointer;
        text-decoration: underline;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
        transition: 1.3s;
    }
    #navbar-image{
        cursor: pointer;
        margin-top: 3px;
    }
    #navbar-logo{
        width: 65%;
        display: flex;
        flex-direction: row;
    }
    #navbar-inicio{
        width: 25%;
        display: flex;
        flex-direction: row;
    }
    #navbar-image2{
        margin-top: 3%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image2:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }
    #navbar-image3{
        margin-left: 15%;
        margin-top: 3%;
        height: 2.7rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image3:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }    

    /*section*/

#section-image{
    cursor: pointer;
    width: 20%;
}
#section-image:hover{
    width: 21%;
    transition: 0.8s;
}
#div-section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}
#div-section-nav{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    height: 80%;
    width: 70%;
    background-color: rgba(215, 252, 212, 1);
    border-radius: 13px;
    box-shadow: 0px 0px 6px 2px rgb(23, 22, 22);
}
#div-section-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    font-size: 2.2rem;
    margin-top: 4%;
    font-family: 'Indie Flower', cursive;
}
#div-section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13%;
    width: 60%;
    margin-top: 7%;
}
#div-section-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 30%;
}
#section-text{
    width: 98%;
    height: 80%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0.60);
    font-size: 2rem;
}
#section-text:focus{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0.60);
    box-shadow: 0px 0px 4px 2px rgb(23, 22, 22);
    font-size: 2rem;
}
#section-button{
    cursor: pointer;
    width: 60%;
    height: 70%;
    background-color: black;
    color: rgba(215, 252, 212, 1);
    font-family: sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
}
#section-button:hover{
    width: 70%;
    height: 77%;
    background-color: rgba(203, 150, 36,0.50);
    color:black;
    font-family: sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px black solid;
    transition: 0.8s;
}
#img-menu{
    width: 10%;
}

/*Adicionar Tutoria*/

#sec-entrar-tutoria{
    position: absolute;
    background-color: rgba(250, 239, 239, 0.95);
    border: 2px rgba(0, 0, 0,0.40) solid;
    width: 60%;
    height: 47%;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}
#sec-image{  
    cursor: pointer;
    width: 5.5%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#sec-button{
    cursor: pointer;
    font-size: 1.3rem;
    width: 20%;
    height: 70%;
    background-color: black;
    color: rgba(225, 179, 81, 0.8);
    border-radius: 5px;
}
#sec-button:hover{
    font-size: 1.3rem;
    width: 21%;
    height: 72%;
    background-color: rgba(225, 179, 81, 0.8);
    color: black;
    border: 2px black solid;
    border-radius: 5px;
    transition: 0.5s;
}

    /*Footer*/

    #div-area{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17,102,102,0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }
    #div-area-footer1{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #div-area-footer2{
        width: 50%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }
    #image-main-footer{
        height: 4.5rem;
        padding-bottom: 1rem;
    }
    #div-area-image2 img{
        padding: 0.5rem;
    }
}

@media (min-width:390px) and (max-width:480px){ 

     /*Navbar*/

     body{
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    #navbar{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 109px;
        background-color: rgba(17,102,102,0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0,0.40);
    }
    #navbar-name{
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        text-shadow: 2px 2px 3px black;
    }
    #navbar-name2{
        display: none;
        cursor: pointer;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }
    #navbar-name2:hover{
        display: none;
        cursor: pointer;
        text-decoration: underline;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
        transition: 1.3s;
    }
    #navbar-image{
        cursor: pointer;
        margin-top: 3px;
    }
    #navbar-logo{
        width: 70%;
        display: flex;
        flex-direction: row;
    }
    #navbar-inicio{
        width: 30%;
        display: flex;
        flex-direction: row;
    }
    #navbar-image2{
        margin-top: 3%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image2:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }
    #navbar-image3{
        margin-left: 15%;
        margin-top: 3%;
        height: 2.7rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image3:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    /*section*/

#section-image{
    cursor: pointer;
    width: 90%;
}
#section-image:hover{
    width: 92%;
    transition: 0.8s;
}
#div-section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}
#div-section-nav{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    height: 80%;
    width: 90%;
    background-color: rgba(215, 252, 212, 1);
    border-radius: 13px;
    box-shadow: 0px 0px 6px 2px rgb(23, 22, 22);
}
#div-section-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    font-size: 2rem;
    margin-top: 10%;
    font-family: 'Indie Flower', cursive;
}
#div-section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13%;
    width: 75%;
    margin-top: 7%;
}
#div-section-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 35%;
}
#section-text{
    width: 98%;
    height: 80%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0.60);
}
#section-text:focus{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0.60);
    box-shadow: 0px 0px 4px 2px rgb(23, 22, 22);
}
#section-button{
    cursor: pointer;
    width: 90%;
    height: 80%;
    background-color: black;
    color: rgba(215, 252, 212, 1);
    font-family: sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
}
#section-button:hover{
    width: 90%;
    height: 97%;
    background-color: rgba(203, 150, 36,0.50);
    color:black;
    font-family: sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px black solid;
    transition: 0.8s;
}
#img-menu{
    width: 15%;
}

/*Adicionar Tutoria*/

#sec-entrar-tutoria{
    position: absolute;
    background-color: rgba(250, 239, 239, 0.95);
    border: 2px rgba(0, 0, 0,0.40) solid;
    width: 90%;
    height: 47%;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}
#sec-image{  
    cursor: pointer;
    width: 6%;
    height: 51%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#sec-button{
    cursor: pointer;
    font-size: 1.3rem;
    width: 20%;
    height: 70%;
    background-color: black;
    color: rgba(225, 179, 81, 0.8);
    border-radius: 5px;
}
#sec-button:hover{
    font-size: 1.3rem;
    width: 21%;
    height: 72%;
    background-color: rgba(225, 179, 81, 0.8);
    color: black;
    border: 2px black solid;
    border-radius: 5px;
    transition: 0.5s;
}
#sec-input1{
    border-radius: 5px;
    border: 1px black solid;
    width: 70%;
    height: 60%;
    font-size: 1rem;
}
#sec-input1:focus{
    border-radius: 5px;
    border: 1px black solid;
    width: 72%;
    height: 60%;
    font-size: 1rem;
    box-shadow: 0px 0px 4px 3px black;
}
#sec-input2{
    border-radius: 5px;
    border: 1px black solid;
    width: 70%;
    height: 60%; 
    font-size: 1rem;
}
#sec-input2:focus{
    border-radius: 5px;
    border: 1px black solid;
    width: 72%;
    height: 60%;
    font-size: 1rem;
    box-shadow: 0px 0px 4px 3px black;
}

    /*Footer*/

    #div-area{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17,102,102,0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }
    #div-area-footer1{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #div-area-footer2{
        width: 50%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }
    #image-main-footer{
        height: 4.5rem;
        padding-bottom: 1rem;
    }
    #div-area-image2 img{
        padding: 0.5rem;
    }
}


@media (max-width:390px){ 

    /*Navbar*/

    body{
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    #navbar{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 100px;
        background-color: rgba(17,102,102,0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0,0.40);
    }
    #navbar-name{
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 20px;
        text-shadow: 2px 2px 3px black;
    }
    #navbar-name2{
        display: none;
        cursor: pointer;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }
    #navbar-name2:hover{
        display: none;
        cursor: pointer;
        text-decoration: underline;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
        transition: 1.3s;
    }
    #navbar-image{
        cursor: pointer;
        margin-top: 3px;
        width: 85px;
    }
    #navbar-logo{
        width: 70%;
        display: flex;
        flex-direction: row;
    }
    #navbar-inicio{
        width: 25%;
        display: flex;
        flex-direction: row;
    }
    #navbar-image2{
        margin-top: 3%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image2:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }
    #navbar-image3{
        margin-left: 15%;
        margin-top: 3%;
        height: 2.7rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image3:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    /*section*/

    #section-image{
        cursor: pointer;
        width: 90%;
    }
    #section-image:hover{
        width: 92%;
        transition: 0.8s;
    }
    #div-section{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100%;
    }
    #div-section-nav{
        display: flex;
        flex-direction: column;
        justify-content: first baseline;
        align-items: center;
        height: 80%;
        width: 90%;
        background-color: rgba(215, 252, 212, 1);
        border-radius: 13px;
        box-shadow: 0px 0px 6px 2px rgb(23, 22, 22);
    }
    #div-section-image{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 10%;
        width: 100%;
        font-size: 1.7rem;
        margin-top: 10%;
        font-family: 'Indie Flower', cursive;
    }
    #div-section-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 13%;
        width: 75%;
        margin-top: 7%;
    }
    #div-section-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 15%;
        width: 35%;
    }
    #section-text{
        width: 98%;
        height: 80%;
        border-radius: 10px;
        border: 3px solid rgba(0, 0, 0,0.60);
    }
    #section-text:focus{
        width: 100%;
        height: 80%;
        border-radius: 10px;
        border: 3px solid rgba(0, 0, 0,0.60);
        box-shadow: 0px 0px 4px 2px rgb(23, 22, 22);
    }
    #section-button{
        cursor: pointer;
        width: 90%;
        height: 80%;
        background-color: black;
        color: rgba(215, 252, 212, 1);
        font-family: sans-serif;
        font-size: 1.5rem;
        border-radius: 10px;
    }
    #section-button:hover{
        width: 90%;
        height: 97%;
        background-color: rgba(203, 150, 36,0.50);
        color:black;
        font-family: sans-serif;
        font-size: 1.5rem;
        border-radius: 10px;
        border: 2px black solid;
        transition: 0.8s;
    }
    #img-menu{
        width: 15%;
    }

/*Adicionar Tutoria*/

#sec-entrar-tutoria{
    position: absolute;
    background-color: rgba(250, 239, 239, 0.95);
    border: 2px rgba(0, 0, 0,0.40) solid;
    width: 90%;
    height: 47%;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}
#sec-image{  
    cursor: pointer;
    width: 6%;
    height: 51%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#sec-button{
    cursor: pointer;
    font-size: 1.3rem;
    width: 20%;
    height: 70%;
    background-color: black;
    color: rgba(225, 179, 81, 0.8);
    border-radius: 5px;
}
#sec-button:hover{
    font-size: 1.3rem;
    width: 21%;
    height: 72%;
    background-color: rgba(225, 179, 81, 0.8);
    color: black;
    border: 2px black solid;
    border-radius: 5px;
    transition: 0.5s;
}
#sec-input1{
    border-radius: 5px;
    border: 1px black solid;
    width: 70%;
    height: 60%;
    font-size: 1rem;
}
#sec-input1:focus{
    border-radius: 5px;
    border: 1px black solid;
    width: 72%;
    height: 60%;
    font-size: 1rem;
    box-shadow: 0px 0px 4px 3px black;
}
#sec-input2{
    border-radius: 5px;
    border: 1px black solid;
    width: 70%;
    height: 60%; 
    font-size: 1rem;
}
#sec-input2:focus{
    border-radius: 5px;
    border: 1px black solid;
    width: 72%;
    height: 60%;
    font-size: 1rem;
    box-shadow: 0px 0px 4px 3px black;
}


    /*Footer*/

    #div-area{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17,102,102,0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }
    #div-area-footer1{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #div-area-footer2{
        width: 50%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }
    #image-main-footer{
        height: 4.5rem;
        padding-bottom: 1rem;
    }
    #div-area-image2 img{
        padding: 0.5rem;
    }
}
