@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;400&display=swap");

.blur-in{animation:blur-in 0.4s linear both} @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

.tracking-in-expand-forward-top{animation:tracking-in-expand-forward-top 0.5s linear both} @keyframes tracking-in-expand-forward-top{0%{letter-spacing:-.2em;transform:translateZ(-700px) translateY(-100px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}}

.rotate-center{animation:rotate-center 0.9s} @keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}

::placeholder{
    font-size: 1.4rem;
}

#mensagemErro{
    font-size: 1.4rem;
    margin-bottom: 0;
}

#corpo-criar-meta{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.corpo-deletar-meta{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    visibility: hidden;
}

.abrir-deletar{
   display: flex;
   visibility: visible;

}
#fechar-criar-meta{
    cursor: pointer;
}

/*Section*/

#section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(17,102,102,0.40);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#section-title{
    width: 100%;
    height: 10vh;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: normal;
    margin-top: 2%;
}
#section-cards{
    margin: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 30vh;
    width: 30%;
    margin: 1%;
    margin-left: 1.5%;
    border-radius: 10px;
    color: rgb(14, 83, 83);
    border: 3px solid rgb(14, 83, 83);
}
.card-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
    width: 90%;
    margin-top: 2%;
    font-size: 1.3rem;
}

.titulo{
font-size: 1.3rem;
}
hr{
    height: 2%;
    background-color:rgb(14, 83, 83);
}
.card-icones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    margin-top: 1%;
}
.icone-card{
    width: 4.5rem;
    transition: 0.4s;
}
.icone-card:hover{
    width: 5rem;
    transition: 0.4s;
}
#criar-meta{
    height: 7vh;
    width: 70%;
    margin-top: 1.5%;
    margin-left: 4%;
}
#button-section{
    cursor: pointer;
    font-size: 1.3rem;
    width: 20%;
    height: 100%;
    background-color:rgb(14, 83, 83);
    color: white;
    border: 2px solid white;
    border-radius: 8px;
}
#button-section{
    cursor: pointer;
    font-size: 1.3rem;
    width: 18%;
    height: 100%;
    background-color:rgb(14, 83, 83);
    color: white;
    border: 3px solid white;
    border-radius: 4px;
}
#button-section:hover{
    cursor: pointer;
    font-size: 1.4rem;
    width: 20%;
    height: 100%;
    background-color:white;
    color: rgb(14, 83, 83);
    border: 3px solid rgb(14, 83, 83);
    border-radius: 4px;
    transition: 0.5s;
}

@media (min-width:1200px){

    /*Navbar*/

    #container{
        width: 100%;
        height: auto;
    }
    body{
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    #navbar{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 109px;
        background-color: rgba(17,102,102,0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0,0.40);
    }
    #navbar-name{
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        text-shadow: 2px 2px 3px black;
    }
    #navbar-name2{
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }
    #navbar-image{
        cursor: pointer;
        margin-top: 3px;
    }
    #navbar-logo{
        width: 90%;
        display: flex;
        flex-direction: row;
    }
    #navbar-inicio{
        width: 25%;
        display: flex;
        flex-direction: row;
    }
    #navbar-image2{
        margin-top: 4%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image2:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }
    #navbar-image3{
        margin-left: 20%;
        margin-top: 3.3%;
        height: 2.7rem;
        transition: 0.5s;
    }
    #img-menu{
        width: 7%;
        margin-right: 2%;
    }

    /*Editar Nome*/

#corpo-editar-meta{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.editar-meta{
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    width: 30%;
    height: 40%;
    background-color: rgb(242, 247, 252);
    border-radius: 10PX;
}

.deletar-meta{
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    width: 30%;
    height: 40%;
    background-color: rgb(242, 247, 252);
    border-radius: 10PX;
}
.titulo-editar-meta{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: first baseline;
}
.titulo-editar{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 10%;
    color: rgb(14, 83, 83);
}
.text-editar-meta{
    border-radius:5px;
    margin-top: 3%;
    height: 11%;
    width: 80%;
    border: 3px rgb(14, 83, 83) solid;
    font-size: 1rem;
}
.text-editar-meta:focus{
    border-radius:5px;
    margin-top: 3%;
    height: 12%;
    width: 83%;
    border: 3px rgb(14, 83, 83) solid;
    box-shadow: 0px 0px 4px 2px black;
    font-size: 1.2rem;
}
.button-editar-meta{
    cursor: pointer;
    border-radius:5px;
    margin-top: 8.5%;
    height: 12%;
    width: 35%;
    font-size: 1.2rem;
    background-color: rgb(14, 83, 83);
    color: white;
    border: 3px white solid;
}
.button-editar-meta:hover{
    cursor: pointer;
    border-radius:5px;
    margin-top: 8.5%;
    height: 13%;
    width: 36%;
    font-size: 1.2rem;
    background-color: white;
    color: rgb(14, 83, 83);
    border: 3px rgb(14, 83, 83) solid;
    transition: 0.5s;
}
#fechar-editar-meta{
    cursor: pointer;
}

    /*Footer*/

    #div-area{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17,102,102,0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }
    #div-area-footer1{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #div-area-footer2{
        width: 50%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }
    #image-main-footer{
        height: 4.5rem;
        padding-bottom: 1rem;
    }
    #div-area-image2 img{
        padding: 0.5rem;
    }
}

@media (min-width:769px) and (max-width:1200px){

    /*Navbar*/

    body{
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    #navbar{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 109px;
        background-color: rgba(17,102,102,0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0,0.40);
    }
    #navbar-name{
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        text-shadow: 2px 2px 3px black;
    }
    #navbar-name2{
        cursor: pointer;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }
    #navbar-name2:hover{
        cursor: pointer;
        text-decoration: underline;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
        transition: 1.3s;
    }
    #navbar-image{
        cursor: pointer;
        margin-top: 3px;
    }
    #navbar-logo{
        width: 65%;
        display: flex;
        flex-direction: row;
    }
    #navbar-inicio{
        width: 35%;
        display: flex;
        flex-direction: row;
    }
    #navbar-image2{
        margin-top: 3%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image2:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }
    #navbar-image3{
        margin-left: 15%;
        margin-top: 3%;
        height: 2.7rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image3:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    /*Editar Nome*/

    #corpo-editar-meta{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    .editar-meta{
        display: flex;
        flex-direction: column;
        justify-content:first baseline;
        align-items: center;
        width: 55%;
        height: 36%;
        background-color: rgb(242, 247, 252);
        border-radius: 10PX;
    }
    .titulo-editar-meta{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: first baseline;
    }
    .titulo-editar{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 10%;
        color: rgb(14, 83, 83);
    }
    .text-editar-meta{
        border-radius:5px;
        margin-top: 3%;
        height: 11%;
        width: 80%;
        border: 3px rgb(14, 83, 83) solid;
        font-size: 1rem;
    }
    .text-editar-meta:focus{
        border-radius:5px;
        margin-top: 3%;
        height: 12%;
        width: 83%;
        border: 3px rgb(14, 83, 83) solid;
        box-shadow: 0px 0px 4px 2px black;
        font-size: 1.2rem;
    }
    .button-editar-meta{
        cursor: pointer;
        border-radius:5px;
        margin-top: 8.5%;
        height: 14%;
        width: 35%;
        font-size: 1.2rem;
        background-color: rgb(14, 83, 83);
        color: white;
        border: 3px white solid;
    }
    .button-editar-meta:hover{
        cursor: pointer;
        border-radius:5px;
        margin-top: 8.5%;
        height: 15%;
        width: 36%;
        font-size: 1.2rem;
        background-color: white;
        color: rgb(14, 83, 83);
        border: 3px rgb(14, 83, 83) solid;
        transition: 0.5s;
    }
    #fechar-editar-meta{
        cursor: pointer;
    }

    /*Section*/

    #section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(17,102,102,0.40);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    #section-title{
        width: 100%;
        height: 10vh;
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        font-style: normal;
        margin-top: 2%;
    }
    #section-cards{
        margin: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 30vh;
        width: 45%;
        margin: 1%;
        margin-left: 1.5%;
        border-radius: 10px;
        color: rgb(14, 83, 83);
        border: 3px solid rgb(14, 83, 83);
    }
    .card-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 35%;
        width: 90%;
        margin-top: 2%;
        font-size: 1.3rem;
    }

    .titulo{
    font-size: 1.3rem;
    }
    hr{
        height: 2%;
        background-color:rgb(14, 83, 83);
    }
    .card-icones{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 30%;
        width: 100%;
        margin-top: 1%;
    }
    .icone-card{
        width: 4.5rem;
        transition: 0.4s;
    }
    .icone-card:hover{
        width: 5rem;
        transition: 0.4s;
    }
    #criar-meta{
        height: 7vh;
        width: 70%;
        margin-top: 1.5%;
        margin-left: 4%;
    }
    #button-section{
        cursor: pointer;
        font-size: 1.3rem;
        width: 25%;
        height: 100%;
        background-color:rgb(14, 83, 83);
        color: white;
        border: 3px solid white;
        border-radius: 8px;
    }
    #button-section:hover{
        cursor: pointer;
        font-size: 1.4rem;
        width: 27%;
        height: 100%;
        background-color:white;
        color: rgb(14, 83, 83);
        border: 3px solid rgb(14, 83, 83);
        border-radius: 4px;
        transition: 0.5s;
    }

    /*Footer*/

    #div-area{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17,102,102,0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }
    #div-area-footer1{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #div-area-footer2{
        width: 50%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }
    #image-main-footer{
        height: 4.5rem;
        padding-bottom: 1rem;
    }
    #div-area-image2 img{
        padding: 0.5rem;
    }
}

@media (min-width:481px) and (max-width:769px){

    /*Navbar*/

    body{
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    #navbar{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 109px;
        background-color: rgba(17,102,102,0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0,0.40);
    }
    #navbar-name{
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        text-shadow: 2px 2px 3px black;
    }
    #navbar-name2{
        cursor: pointer;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }
    #navbar-name2:hover{
        cursor: pointer;
        text-decoration: underline;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
        transition: 1.3s;
    }
    #navbar-image{
        cursor: pointer;
        margin-top: 3px;
    }
    #navbar-logo{
        width: 65%;
        display: flex;
        flex-direction: row;
    }
    #navbar-inicio{
        width: 25%;
        display: flex;
        flex-direction: row;
    }
    #navbar-image2{
        margin-top: 3%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image2:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }
    #navbar-image3{
        margin-left: 15%;
        margin-top: 3%;
        height: 2.7rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image3:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    
    /*Editar Nome*/

    #corpo-editar-meta{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    .editar-meta{
        display: flex;
        flex-direction: column;
        justify-content:first baseline;
        align-items: center;
        width: 55%;
        height: 37%;
        background-color: rgb(242, 247, 252);
        border-radius: 10PX;
    }
    .titulo-editar-meta{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: first baseline;
    }
    .titulo-editar{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 10%;
        color: rgb(14, 83, 83);
    }
    .text-editar-meta{
        border-radius:5px;
        margin-top: 3%;
        height: 11%;
        width: 80%;
        border: 3px rgb(14, 83, 83) solid;
        font-size: 1rem;
    }
    .text-editar-meta:focus{
        border-radius:5px;
        margin-top: 3%;
        height: 12%;
        width: 83%;
        border: 3px rgb(14, 83, 83) solid;
        box-shadow: 0px 0px 4px 2px black;
        font-size: 1.2rem;
    }
    .button-editar-meta{
        cursor: pointer;
        border-radius:5px;
        margin-top: 8.5%;
        height: 15%;
        width: 35%;
        font-size: 1.2rem;
        background-color: rgb(14, 83, 83);
        color: white;
        border: 3px white solid;
    }
    .button-editar-meta:hover{
        cursor: pointer;
        border-radius:5px;
        margin-top: 8.5%;
        height: 16%;
        width: 36%;
        font-size: 1.2rem;
        background-color: white;
        color: rgb(14, 83, 83);
        border: 3px rgb(14, 83, 83) solid;
        transition: 0.5s;
    }
    #fechar-editar-meta{
        cursor: pointer;
    }

    
    /*Section*/

    #section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(17,102,102,0.40);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    #section-title{
        width: 100%;
        height: 10vh;
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        font-style: normal;
        margin-top: 2%;
    }
    #section-cards{
        margin: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 30vh;
        width: 45%;
        margin: 1%;
        margin-left: 1.5%;
        border-radius: 10px;
        color: rgb(14, 83, 83);
        border: 3px solid rgb(14, 83, 83);
    }
    .card-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 35%;
        width: 90%;
        margin-top: 2%;
        font-size: 1.1rem;
    }
    .titulo{
    font-size: 1.1rem;
    }
    hr{
        height: 2%;
        background-color:rgb(14, 83, 83);
    }
    .card-icones{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 30%;
        width: 100%;
        margin-top: 1%;
    }
    .icone-card{
        width: 4rem;
        transition: 0.4s;
    }
    .icone-card:hover{
        width: 4.5rem;
        transition: 0.4s;
    }
    #criar-meta{
        height: 7vh;
        width: 70%;
        margin-top: 1.5%;
        margin-left: 4%;
    }
    #button-section{
        cursor: pointer;
        font-size: 1.3rem;
        width: 25%;
        height: 100%;
        background-color:rgb(14, 83, 83);
        color: white;
        border: 3px solid white;
        border-radius: 8px;
    }
    #button-section:hover{
        cursor: pointer;
        font-size: 1.4rem;
        width: 27%;
        height: 100%;
        background-color:white;
        color: rgb(14, 83, 83);
        border: 3px solid rgb(14, 83, 83);
        border-radius: 4px;
        transition: 0.5s;
    }


    /*Footer*/

    #div-area{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17,102,102,0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }
    #div-area-footer1{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #div-area-footer2{
        width: 50%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }
    #image-main-footer{
        height: 4.5rem;
        padding-bottom: 1rem;
    }
    #div-area-image2 img{
        padding: 0.5rem;
    }
}

@media (min-width:390px) and (max-width:480px){ 

     /*Navbar*/

     body{
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    #navbar{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 109px;
        background-color: rgba(17,102,102,0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0,0.40);
    }
    #navbar-name{
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        text-shadow: 2px 2px 3px black;
    }
    #navbar-name2{
        display: none;
        cursor: pointer;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }
    #navbar-name2:hover{
        display: none;
        cursor: pointer;
        text-decoration: underline;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
        transition: 1.3s;
    }
    #navbar-image{
        cursor: pointer;
        margin-top: 3px;
    }
    #navbar-logo{
        width: 70%;
        display: flex;
        flex-direction: row;
    }
    #navbar-inicio{
        width: 30%;
        display: flex;
        flex-direction: row;
    }
    #navbar-image2{
        margin-top: 3%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image2:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }
    #navbar-image3{
        margin-left: 15%;
        margin-top: 3%;
        height: 2.7rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image3:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    
    /*Editar Nome*/

    #corpo-editar-meta{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    .editar-meta{
        display: flex;
        flex-direction: column;
        justify-content:first baseline;
        align-items: center;
        width: 85%;
        height: 36%;
        background-color: rgb(242, 247, 252);
        border-radius: 10PX;
    }
    .titulo-editar-meta{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: first baseline;
    }
    .titulo-editar{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 10%;
        color: rgb(14, 83, 83);
    }
    .text-editar-meta{
        border-radius:5px;
        margin-top: 3%;
        height: 11%;
        width: 80%;
        border: 3px rgb(14, 83, 83) solid;
        font-size: 1rem;
    }
    .text-editar-meta:focus{
        border-radius:5px;
        margin-top: 3%;
        height: 12%;
        width: 83%;
        border: 3px rgb(14, 83, 83) solid;
        box-shadow: 0px 0px 4px 2px black;
        font-size: 1.2rem;
    }
    .button-editar-meta{
        cursor: pointer;
        border-radius:5px;
        margin-top: 8.5%;
        height: 14%;
        width: 35%;
        font-size: 1.2rem;
        background-color: rgb(14, 83, 83);
        color: white;
        border: 3px white solid;
    }
    .button-editar-meta:hover{
        cursor: pointer;
        border-radius:5px;
        margin-top: 8.5%;
        height: 15%;
        width: 36%;
        font-size: 1.2rem;
        background-color: white;
        color: rgb(14, 83, 83);
        border: 3px rgb(14, 83, 83) solid;
        transition: 0.5s;
    }
    #fechar-editar-meta{
        cursor: pointer;
    }

        
    /*Section*/

    #section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(17,102,102,0.40);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    #section-title{
        width: 100%;
        height: 10vh;
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        font-style: normal;
        margin-top: 4%;
    }
    #section-cards{
        margin: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 27vh;
        width: 90%;
        margin: 1%;
        margin-left: 3%;
        border-radius: 10px;
        color: rgb(14, 83, 83);
        border: 3px solid rgb(14, 83, 83);
    }
    .card-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 35%;
        width: 90%;
        margin-top: 2%;
        font-size: 1.1rem;
    }
    .titulo{
    font-size: 1.1rem;
    }
    hr{
        height: 2%;
        background-color:rgb(14, 83, 83);
    }
    .card-icones{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 30%;
        width: 100%;
        margin-top: 1%;
    }
    .icone-card{
        width: 4rem;
        transition: 0.4s;
    }
    .icone-card:hover{
        width: 4.5rem;
        transition: 0.4s;
    }
    #criar-meta{
        height: 7vh;
        width: 100%;
        margin-top: 5%;
        margin-left: 4%;
    }
    #button-section{
        cursor: pointer;
        font-size: 1.3rem;
        width: 50%;
        height: 100%;
        background-color:rgb(14, 83, 83);
        color: white;
        border: 3px solid white;
        border-radius: 8px;
    }
    #button-section:hover{
        cursor: pointer;
        font-size: 1.4rem;
        width: 52%;
        height: 100%;
        background-color:white;
        color: rgb(14, 83, 83);
        border: 3px solid rgb(14, 83, 83);
        border-radius: 4px;
        transition: 0.5s;
    }

    /*Footer*/

    #div-area{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17,102,102,0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }
    #div-area-footer1{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #div-area-footer2{
        width: 50%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }
    #image-main-footer{
        height: 4.5rem;
        padding-bottom: 1rem;
    }
    #div-area-image2 img{
        padding: 0.5rem;
    }
}


@media (max-width:390px){ 

    /*Navbar*/

    body{
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    #navbar{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 100px;
        background-color: rgba(17,102,102,0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0,0.40);
    }
    #navbar-name{
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 20px;
        text-shadow: 2px 2px 3px black;
    }
    #navbar-name2{
        display: none;
        cursor: pointer;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }
    #navbar-name2:hover{
        display: none;
        cursor: pointer;
        text-decoration: underline;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
        transition: 1.3s;
    }
    #navbar-image{
        cursor: pointer;
        margin-top: 3px;
        width: 85px;
    }
    #navbar-logo{
        width: 70%;
        display: flex;
        flex-direction: row;
    }
    #navbar-inicio{
        width: 25%;
        display: flex;
        flex-direction: row;
    }
    #navbar-image2{
        margin-top: 3%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image2:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }
    #navbar-image3{
        margin-left: 15%;
        margin-top: 3%;
        height: 2.7rem;
        transition: 0.5s;
        cursor: pointer;
    }
    #navbar-image3:hover{
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

        
    /*Editar Nome*/

    #corpo-editar-meta{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    .editar-meta{
        display: flex;
        flex-direction: column;
        justify-content:first baseline;
        align-items: center;
        width: 95%;
        height: 36%;
        background-color: rgb(242, 247, 252);
        border-radius: 10PX;
    }
    .titulo-editar-meta{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: first baseline;
    }
    .titulo-editar{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 10%;
        color: rgb(14, 83, 83);
    }
    .text-editar-meta{
        border-radius:5px;
        margin-top: 3%;
        height: 11%;
        width: 80%;
        border: 3px rgb(14, 83, 83) solid;
        font-size: 1rem;
    }
    .text-editar-meta:focus{
        border-radius:5px;
        margin-top: 3%;
        height: 12%;
        width: 83%;
        border: 3px rgb(14, 83, 83) solid;
        box-shadow: 0px 0px 4px 2px black;
        font-size: 1.2rem;
    }
    .button-editar-meta{
        cursor: pointer;
        border-radius:5px;
        margin-top: 8.5%;
        height: 14%;
        width: 35%;
        font-size: 1.2rem;
        background-color: rgb(14, 83, 83);
        color: white;
        border: 3px white solid;
    }
    .button-editar-meta:hover{
        cursor: pointer;
        border-radius:5px;
        margin-top: 8.5%;
        height: 15%;
        width: 36%;
        font-size: 1.2rem;
        background-color: white;
        color: rgb(14, 83, 83);
        border: 3px rgb(14, 83, 83) solid;
        transition: 0.5s;
    }
    #fechar-editar-meta{
        cursor: pointer;
    }

    
        
    /*Section*/

    #section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(17,102,102,0.40);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    #section-title{
        width: 100%;
        height: 10vh;
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        font-style: normal;
    }
    #section-cards{
        margin: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 27vh;
        width: 90%;
        margin: 1%;
        margin-left: 3%;
        border-radius: 10px;
        color: rgb(14, 83, 83);
        border: 3px solid rgb(14, 83, 83);
    }
    .card-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 35%;
        width: 90%;
        margin-top: 2%;
        font-size: 1.1rem;
        margin-top: 2%;
    }
    .titulo{
    font-size: 1.1rem;
    }
    hr{
        height: 2%;
        background-color:rgb(14, 83, 83);
    }
    .card-icones{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 30%;
        width: 100%;
        margin-top: 1%;
    }
    .icone-card{
        width: 4rem;
        transition: 0.4s;
    }
    .icone-card:hover{
        width: 4.5rem;
        transition: 0.4s;
    }
    #criar-meta{
        height: 7vh;
        width: 100%;
        margin-top: 5%;
        margin-left: 4%;
    }
    #button-section{
        cursor: pointer;
        font-size: 1.3rem;
        width: 50%;
        height: 100%;
        background-color:rgb(14, 83, 83);
        color: white;
        border: 3px solid white;
        border-radius: 8px;
    }
    #button-section:hover{
        cursor: pointer;
        font-size: 1.4rem;
        width: 52%;
        height: 100%;
        background-color:white;
        color: rgb(14, 83, 83);
        border: 3px solid rgb(14, 83, 83);
        border-radius: 4px;
        transition: 0.5s;
    }

    /*Footer*/

    #div-area{
        position: relative;
        display: flex;
        flex-direction:row;
        align-items:center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17,102,102,0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }
    #div-area-footer1{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #div-area-footer2{
        width: 50%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }
    #image-main-footer{
        height: 4.5rem;
        padding-bottom: 1rem;
    }
    #div-area-image2 img{
        padding: 0.5rem;
    }
}
