html{
    font-size: 62.5%;
    font-family: 'Montserrat';
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior:smoth;
}
::placeholder{
    font-size:1.8rem;
}
#cadastro{
    scroll-behavior:smoth;
}
#img-section1{
    position: absolute;
    height: 100vh;
    width: 100%;
}
#img-section2{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
}
.primeiraMetade{
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 600px) {
    #img-section1{
        display: none;
        position: absolute;
        height: 100vh;
        width: 100%;
    }
    #img-section2{
        display: block;
        position: absolute;
        height: 100vh;
        width: 100%;
    }
    #img-mulher{
        display:none;
    }
  }

.segundaMetade{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.segundaMetade form input{
    border-color: #CB9624;
    border-radius: 0.7rem;
    height: 3.5rem;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.vh-100{
    width: 100vw;
    height: 100vh;
}


.form-label{
    font-size: 1.5rem;
}

#form3Example5c{
    /*border-color: black;*/
    border-width: 0.2rem;
}

.segundaMetade form select{
    border-color: #CB9624;
    border-radius: 0.7rem;
    height: 3.5rem;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#form2Example3c{
    border-color: none;
    border-radius: none;
    height: 1rem;
    box-shadow: none;
}

.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.interno{
    width: 85%; 
    height: 85%;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}*/

.header{
    background-color: rgba(0 0 0 0.5);
    opacity: 0.9;
}

header li{
    font-size: 2.5rem;
    margin-left: 4rem;
}

.navbar-toggler{
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
}
