@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;400&display=swap");

.blur-in {
    animation: blur-in 0.4s linear both
}

@keyframes blur-in {
    0% {
        filter: blur(12px);
        opacity: 0
    }

    100% {
        filter: blur(0);
        opacity: 1
    }
}

.tracking-in-expand-forward-top {
    animation: tracking-in-expand-forward-top 0.5s linear both
}

@keyframes tracking-in-expand-forward-top {
    0% {
        letter-spacing: -.2em;
        transform: translateZ(-700px) translateY(-100px);
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1
    }
}

.rotate-center {
    animation: rotate-center 0.9s
}

@keyframes rotate-center {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

::placeholder {
    font-size: 1.4rem;
}

.corpo-deletar-meta{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    visibility: hidden;
}

.abrir-deletar{
   display: flex;
   visibility: visible;

}
#fechar-criar-meta{
    cursor: pointer;
}
.editar-meta{
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    width: 30%;
    height: 40%;
    background-color: rgb(242, 247, 252);
    border-radius: 10PX;
}

.titulo-editar-meta{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: first baseline;
}

.text-editar-meta:focus{
    border-radius:5px;
    margin-top: 3%;
    height: 12%;
    width: 83%;
    border: 3px rgb(14, 83, 83) solid;
    box-shadow: 0px 0px 4px 2px black;
    font-size: 1.2rem;
}
.button-editar-meta{
    cursor: pointer;
    border-radius:5px;
    margin-top: 8.5%;
    height: 12%;
    width: 35%;
    font-size: 1.2rem;
    background-color: rgb(14, 83, 83);
    color: white;
    border: 3px white solid;
}
.button-editar-meta:hover{
    cursor: pointer;
    border-radius:5px;
    margin-top: 8.5%;
    height: 13%;
    width: 36%;
    font-size: 1.2rem;
    background-color: white;
    color: rgb(14, 83, 83);
    border: 3px rgb(14, 83, 83) solid;
    transition: 0.5s;
}

.titulo-editar{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 10%;
        color: rgb(14, 83, 83);
    }

#corpo-criar-meta {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#fechar-criar-meta {
    cursor: pointer;
}

/*Section*/

#section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(17, 102, 102, 0.40);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#title-section {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
}

#title-section-image {
    width: 4%;
    margin-right: 1%;
}

#options-section {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: first baseline;
    margin-left: 5%;
    margin-bottom: 3%;
}

#options-section #a {
    width: 4.5%;
    height: 100%;
}

#options-section #b {
    width: 100%;
    height: 100%;
}

#options-section-criar {
    width: 100%;
    height: 100%;
}

#options-section-criar:hover {
    width: 104%;
    transition: 0.3s;
}

#options-section-button {
    cursor: pointer;
    width: 20%;
    height: 3.3rem;
    font-size: 1.3rem;
    margin-left: 2%;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border: 3px solid white;
}

#options-section-button:hover {
    width: 21%;
    height: 3.4rem;
    transition: 0.54s;
}

#section-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-bottom: 4%;
}

.card {
    width: 43%;
    height: 30%;
    margin: 2%;
    margin-left: 3%;
}

.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    width: 100%;
    height: 90%;
    background-color: white;
    font-size: 1.3rem;
    border-radius: 10px;
    color: rgba(17, 102, 102, 1);
    border: 2px rgba(17, 102, 102, 1) solid;
}

.card-title {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-title1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.4rem;
    color: white;
    margin-left: 4%;
}

.card-title2 {
    display: flex;
    flex-direction: row;
    width: 15%;
}

.card-title2 img {
    width: 1.8rem;
}

.card-section div{
    padding-bottom: 1%;
    text-decoration: underline;
}

@media (min-width:1200px) {

    /*Navbar*/

    #container {
        width: 100%;
        height: auto;
    }

    body {
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    #navbar {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 0;
        max-width: 100%;
        height: 109px;
        background-color: rgba(17, 102, 102, 0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0, 0.40);
    }

    #navbar-name {
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        text-shadow: 2px 2px 3px black;
    }

    #navbar-name2 {
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }

    #navbar-image {
        cursor: pointer;
        margin-top: 3px;
    }

    #navbar-logo {
        width: 90%;
        display: flex;
        flex-direction: row;
    }

    #navbar-inicio {
        width: 25%;
        display: flex;
        flex-direction: row;
    }

    #navbar-image2 {
        margin-top: 4%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }

    #navbar-image2:hover {
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    #navbar-image3 {
        margin-left: 20%;
        margin-top: 3.3%;
        height: 2.7rem;
        transition: 0.5s;
    }

    #img-menu {
        width: 7%;
        margin-right: 2%;
    }

    /*Footer*/

    #div-area {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17, 102, 102, 0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }

    #div-area-footer1 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #div-area-footer2 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }

    #image-main-footer {
        height: 4.5rem;
        padding-bottom: 1rem;
    }

    #div-area-image2 img {
        padding: 0.5rem;
    }
}

@media (min-width:769px) and (max-width:1200px) {

    /*Navbar*/

    body {
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    #navbar {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 0;
        max-width: 100%;
        height: 109px;
        background-color: rgba(17, 102, 102, 0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0, 0.40);
    }

    #navbar-name {
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        text-shadow: 2px 2px 3px black;
    }

    #navbar-name2 {
        cursor: pointer;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }

    #navbar-name2:hover {
        cursor: pointer;
        text-decoration: underline;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
        transition: 1.3s;
    }

    #navbar-image {
        cursor: pointer;
        margin-top: 3px;
    }

    #navbar-logo {
        width: 65%;
        display: flex;
        flex-direction: row;
    }

    #navbar-inicio {
        width: 35%;
        display: flex;
        flex-direction: row;
    }

    #navbar-image2 {
        margin-top: 3%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }

    #navbar-image2:hover {
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    #navbar-image3 {
        margin-left: 15%;
        margin-top: 3%;
        height: 2.7rem;
        transition: 0.5s;
        cursor: pointer;
    }

    #navbar-image3:hover {
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    /*Footer*/

    #div-area {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17, 102, 102, 0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }

    #div-area-footer1 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #div-area-footer2 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }

    #image-main-footer {
        height: 4.5rem;
        padding-bottom: 1rem;
    }

    #div-area-image2 img {
        padding: 0.5rem;
    }
}

@media (min-width:481px) and (max-width:769px) {

    /*Navbar*/

    body {
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    #navbar {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 0;
        max-width: 100%;
        height: 109px;
        background-color: rgba(17, 102, 102, 0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0, 0.40);
    }

    #navbar-name {
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        text-shadow: 2px 2px 3px black;
    }

    #navbar-name2 {
        cursor: pointer;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }

    #navbar-name2:hover {
        cursor: pointer;
        text-decoration: underline;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
        transition: 1.3s;
    }

    #navbar-image {
        cursor: pointer;
        margin-top: 3px;
    }

    #navbar-logo {
        width: 65%;
        display: flex;
        flex-direction: row;
    }

    #navbar-inicio {
        width: 25%;
        display: flex;
        flex-direction: row;
    }

    #navbar-image2 {
        margin-top: 3%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }

    #navbar-image2:hover {
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    #navbar-image3 {
        margin-left: 15%;
        margin-top: 3%;
        height: 2.7rem;
        transition: 0.5s;
        cursor: pointer;
    }

    #navbar-image3:hover {
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    /*Section*/

    #section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(17, 102, 102, 0.40);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    #title-section {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        margin-top: 2%;
        margin-bottom: 2%;
        color: white;
    }

    #title-section-image {
        width: 4%;
        margin-right: 1%;
    }

    #options-section {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: first baseline;
        margin-left: 5%;
        margin-bottom: 3%;
    }

    #options-section #a {
        width: 4.5%;
        height: 100%;
    }

    #options-section #b {
        width: 100%;
        height: 100%;
    }

    #options-section-criar {
        width: 100%;
        height: 100%;
    }

    #options-section-criar:hover {
        width: 104%;
        transition: 0.3s;
    }

    #options-section-button {
        cursor: pointer;
        width: 23%;
        height: 3.3rem;
        font-size: 1.3rem;
        margin-left: 2%;
        color: white;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 10px;
        border: 3px solid white;
    }

    #options-section-button:hover {
        width: 24%;
        height: 3.4rem;
        transition: 0.54s;
    }

    #section-cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        margin-bottom: 4%;
    }

    .card {
        width: 43%;
        height: 30%;
        margin: 2%;
        margin-left: 3%;
    }

    .card-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
        width: 100%;
        height: 90%;
        background-color: white;
        font-size: 1.3rem;
        border-radius: 10px;
        color: rgba(17, 102, 102, 1);
    }

    .card-title {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .card-title1 {
        display: flex;
        flex-direction: row;
        width: 70%;
        font-size: 1.2rem;
        color: white;
        margin-left: 4%;
    }

    .card-title2 {
        display: flex;
        flex-direction: row;
        width: 13%;
    }

    .card-title2 img {
        width: 1.8rem;
    }

    /*Footer*/

    #div-area {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17, 102, 102, 0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }

    #div-area-footer1 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #div-area-footer2 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }

    #image-main-footer {
        height: 4.5rem;
        padding-bottom: 1rem;
    }

    #div-area-image2 img {
        padding: 0.5rem;
    }
}

@media (min-width:390px) and (max-width:480px) {

    /*Navbar*/

    body {
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    #navbar {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 0;
        max-width: 100%;
        height: 109px;
        background-color: rgba(17, 102, 102, 0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0, 0.40);
    }

    #navbar-name {
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        text-shadow: 2px 2px 3px black;
    }

    #navbar-name2 {
        display: none;
        cursor: pointer;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }

    #navbar-name2:hover {
        display: none;
        cursor: pointer;
        text-decoration: underline;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
        transition: 1.3s;
    }

    #navbar-image {
        cursor: pointer;
        margin-top: 3px;
    }

    #navbar-logo {
        width: 70%;
        display: flex;
        flex-direction: row;
    }

    #navbar-inicio {
        width: 30%;
        display: flex;
        flex-direction: row;
    }

    #navbar-image2 {
        margin-top: 3%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }

    #navbar-image2:hover {
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    #navbar-image3 {
        margin-left: 15%;
        margin-top: 3%;
        height: 2.7rem;
        transition: 0.5s;
        cursor: pointer;
    }

    #navbar-image3:hover {
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

        /*Section*/

        #section {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: rgba(17, 102, 102, 0.40);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
    
        #title-section {
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 2.4rem;
            margin-top: 10%;
            margin-bottom: 10%;
            color: white;
        }
    
        #title-section-image {
            width: 8%;
            margin-right: 1%;
        }
    
        #options-section {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: first baseline;
            margin-left: 5%;
            margin-bottom: 3%;
        }
    
        #options-section #a {
            width: 4.5%;
            height: 100%;
        }
    
        #options-section #b {
            width: 100%;
            height: 100%;
        }
    
        #options-section-criar {
            width: 100%;
            height: 100%;
        }
    
        #options-section-criar:hover {
            width: 104%;
            transition: 0.3s;
        }
    
        #options-section-button {
            cursor: pointer;
            width: 40%;
            height: 3rem;
            font-size: 1.3rem;
            margin-left: 2%;
            color: white;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 10px;
            border: 3px solid white;
        }
    
        #options-section-button:hover {
            width: 41%;
            height: 3.1rem;
            transition: 0.54s;
        }
    
        #section-cards {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            margin-bottom: 4%;
        }
    
        .card {
            width: 90%;
            height: 30%;
            margin: 2%;
            margin-left: 3%;
        }
    
        .card-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2%;
            width: 100%;
            height: 90%;
            background-color: white;
            font-size: 1.3rem;
            border-radius: 10px;
            color: rgba(17, 102, 102, 1);
        }
    
        .card-title {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    
        .card-title1 {
            display: flex;
            flex-direction: row;
            width: 70%;
            font-size: 1.2rem;
            color: white;
            margin-left: 4%;
        }
    
        .card-title2 {
            display: flex;
            flex-direction: row;
            width: 13%;
        }
    
        .card-title2 img {
            width: 1.8rem;
        }
    

    /*Footer*/

    #div-area {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17, 102, 102, 0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }

    #div-area-footer1 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #div-area-footer2 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }

    #image-main-footer {
        height: 4.5rem;
        padding-bottom: 1rem;
    }

    #div-area-image2 img {
        padding: 0.5rem;
    }
}


@media (max-width:390px) {

    /*Navbar*/

    body {
        font-size: 62.5%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    #navbar {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 0;
        max-width: 100%;
        height: 100px;
        background-color: rgba(17, 102, 102, 0.65);
        box-shadow: 0px 0px 10px 2px black;
        border-top: 3px solid rgba(0, 0, 0, 0.40);
    }

    #navbar-name {
        cursor: pointer;
        margin-top: 0%;
        line-height: 3px;
        color: rgb(255, 255, 255);
        font-family: 'Indie Flower', cursive;
        font-size: 20px;
        text-shadow: 2px 2px 3px black;
    }

    #navbar-name2 {
        display: none;
        cursor: pointer;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
    }

    #navbar-name2:hover {
        display: none;
        cursor: pointer;
        text-decoration: underline;
        margin-top: 7%;
        margin-left: 4%;
        color: rgb(255, 255, 255);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        text-shadow: 2px 2px 3px rgb(59, 51, 51);
        transition: 1.3s;
    }

    #navbar-image {
        cursor: pointer;
        margin-top: 3px;
        width: 85px;
    }

    #navbar-logo {
        width: 70%;
        display: flex;
        flex-direction: row;
    }

    #navbar-inicio {
        width: 25%;
        display: flex;
        flex-direction: row;
    }

    #navbar-image2 {
        margin-top: 3%;
        height: 2.6rem;
        transition: 0.5s;
        cursor: pointer;
    }

    #navbar-image2:hover {
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    #navbar-image3 {
        margin-left: 15%;
        margin-top: 3%;
        height: 2.7rem;
        transition: 0.5s;
        cursor: pointer;
    }

    #navbar-image3:hover {
        margin-top: 3%;
        height: 3.0rem;
        cursor: pointer;
    }

    
        /*Section*/

        #section {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: rgba(17, 102, 102, 0.40);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
    
        #title-section {
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 2.4rem;
            margin-top: 10%;
            margin-bottom: 10%;
            color: white;
        }
    
        #title-section-image {
            width: 8%;
            margin-right: 1%;
        }
    
        #options-section {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: first baseline;
            margin-left: 5%;
            margin-bottom: 3%;
        }
    
        #options-section #a {
            width: 4.5%;
            height: 100%;
        }
    
        #options-section #b {
            width: 100%;
            height: 100%;
        }
    
        #options-section-criar {
            width: 100%;
            height: 100%;
        }
    
        #options-section-criar:hover {
            width: 104%;
            transition: 0.3s;
        }
    
        #options-section-button {
            cursor: pointer;
            width: 40%;
            height: 3rem;
            font-size: 1.3rem;
            margin-left: 2%;
            color: white;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 10px;
            border: 3px solid white;
        }
    
        #options-section-button:hover {
            width: 41%;
            height: 3.1rem;
            transition: 0.54s;
        }
    
        #section-cards {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            margin-bottom: 4%;
        }
    
        .card {
            width: 90%;
            height: 30%;
            margin: 2%;
            margin-left: 3%;
        }
    
        .card-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2%;
            width: 100%;
            height: 90%;
            background-color: white;
            font-size: 1.3rem;
            border-radius: 10px;
            color: rgba(17, 102, 102, 1);
        }
    
        .card-title {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    
        .card-title1 {
            display: flex;
            flex-direction: row;
            width: 70%;
            font-size: 1.2rem;
            color: white;
            margin-left: 4%;
        }
    
        .card-title2 {
            display: flex;
            flex-direction: row;
            width: 13%;
        }
    
        .card-title2 img {
            width: 1.8rem;
        }
    

    /*Footer*/

    #div-area {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 0;
        max-width: 100%;
        height: 190px;
        box-shadow: 0px 0px 10px 1px black;
        background-color: rgba(17, 102, 102, 0.65);
        padding-top: 2%;
        padding-bottom: 1%;
    }

    #div-area-footer1 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #div-area-footer2 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1rem;
        word-spacing: 0.3rem;
    }

    #image-main-footer {
        height: 4.5rem;
        padding-bottom: 1rem;
    }

    #div-area-image2 img {
        padding: 0.5rem;
    }
}